<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>
    </body>
    <main>
        <% if (locals.postList) {%>
        <ul>
            <% postList.forEach(post => { %>
            <div clas="post-card">
                <p><%= post.message %></p>
                <p><%= post.username %></p>
            </div>
            <% }) %>
        </ul>
        <% } %>
    </main>
    <%- include('partials/footer') %>
</html>
